<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.startupcompany.wireframe">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.DestinationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="no.uib.ii.algo.st8.Main"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/app_name" />
        <activity
            android:name="no.uib.ii.algo.st8.Workspace"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="Grapher workspace">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="no.uib.ii.algo.st8.IntervalActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.HomeActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".activity.CategoryActivity" />
        <activity android:name=".activity.ProfileActivity"></activity>
    </application>

</manifest>
